[Desktop Entry]
Encoding=UTF-8
Name=AMDOverdriveCtrl
Name[de_DE]=AMDOverdriveCtrl
GenericName=AMD Overdrive Control
GenericName[ru]=Разгон видеокарт AMD
Exec=AMDOverdriveCtrl
Icon=/usr/share/AMDOverdriveCtrl/images/icon.xpm
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
StartupNotify=true
Comment=Control AMD Catalyst Overdrive settings
Comment[ru]=Управляет разгоном видеокарт AMD, позволяет контролировать температуру, регулировать частоты и скорость вращения вентилятора